<!doctype html>
<html>
<head>
    <title>DogUS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body {
          margin-top: 125px;
          margin-right: 25px;
          margin-bottom: 25px;
          margin-left: 250px;
        }
        .formAdd {
          max-width: 385px;
        }
        .save_button {
          width: 150px;
          margin-left: -15px;
          margin-top: 25px;
          font-size: x-large;
        }
        .delete_button {
          width: 150px;
          margin-top: 25px;
          font-size: x-large;
        }
    </style>
</head>
<body>
  <div>
    <% include navbar.ejs %>
    <% include sidebar.ejs %>
    <script>
      $( "a[dogid='<%= dog_id %>']" ).trigger( "click" );
    </script>

    <h1>Edit animal</h1>

    <form class="formAdd" action="" method="post">
      <div class="form-group row">
        <label for="dog_name" class="col-2 col-form-label">Name</label>
        <div class="col-10">
          <input class="form-control" type="text" id="dog_name" name="dog_name" value="<%= selected_dog.name  %>" required="true">
        </div>
      </div>

      <div class="form-group row">
        <label for="dog_age" class="col-2 col-form-label">Age</label>
        <div class="col-10">
          <input class="form-control" type="number" id="dog_age" name="dog_age" min="1" max="30" value="<%= selected_dog.age %>" required="true">
        </div>
      </div>

      <div class="form-group row">
        <label for="dog_description" class="col-2 col-form-label">Description</label>
        <div class="col-10">
          <input class="form-control" type="text" id="dog_description" name="dog_description" value="<%= selected_dog.description %>" required="true">
        </div>
      </div>

      <div class="form-group row">
        <label for="dog_weight" class="col-2 col-form-label">Weight (lbs)</label>
        <div class="col-10">
          <input class="form-control" type="number" id="dog_weight" name="dog_weight" min="5" max="100" value="<%= selected_dog.weight %>" required="true">
        </div>
      </div>

      <input type="submit" name="type" value="Save" class="save_button btn btn-primary">
      <input type="submit" name="type" value="Delete" class="delete_button btn btn-danger">
    </form>

  </div>
</body>
</html>
