<!doctype html>
<html>
<head>
    <title>DogUS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->

</head>

<body onload="setInterval(refresh, 4000)">
  <div>
    <% include navbar.ejs %>
    <% include sidebar.ejs %>

    <h1>Track your animal with GPS</h1>

      <%= dog_id %>

    <!-- Map and Side Panel -->
    <div class="row content" style="margin-left: 0px; margin-right: 0px;">

        <!-- Google Map -->
        <div class="col-md-7" style="margin-left: 255px; position: inherit;">
			<div class="panel panel-default">
					<!-- Panel Title -->
					<div class="panel-heading">
						<h2 class="panel-title text-center">Track your animal!</h2>
					</div>
					<!-- Panel Body -->
					<div class="panel-body">
						<div id="map" style="width:100%;height:500px"></div>
					</div>
				</div>
        </div>

        <!-- Side Panel -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Positions <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->

                        <!-- Text Boxes and Other User Inputs-->
                        <div class="form-group">
                            <label for="latitude">Latitude</label>
                            <input type="text" class="form-control" id="latitude" value=<%= lastPosition.latitude %> ng-model="formData.latitude">
                        </div>
                        <div class="form-group">
                            <label for="longitude">Longitude</label>
                            <input type="text" class="form-control" id="longitude" value=<%= lastPosition.longitude %> ng-model="formData.longitude">
                        </div>
                        <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                        <button class="btn btn-danger btn-block" onclick="addGpsPosition()">Add gps position to DB</button>
                        <button class="btn btn-danger btn-block" onclick="viewTrip()">View Trip!</button>
                        <button class="btn btn-danger btn-block" onclick="refresh()">Refresh</button>
                </div>
            </div>
        </div>
    </div>
  </div>

  <script>
  function refresh() {
    $.get("/track/lastPosition/<%= dog_id %>", function(data, status){
        //alert("Data: " + data + "\nStatus: " + status);
        if (status == "success") {
          //alert("Data: " + data.latitude + "   " + data.longitude);
          var latitude = document.getElementById("latitude").value;
          var longitude = document.getElementById("longitude").value;

          //alert("Update map! " + longitude + "   " + data.longitude + "  " + latitude + "   " + data.latitude + "  " + (latitude != data.latitude));
          //if (latitude != data.latitude && longitude != data.longitude) {
            document.getElementById("latitude").value = data.latitude;
            document.getElementById("longitude").value = data.longitude;
            myMap();
          //}
        }
    });
  }
  </script>

  <script>
  function addGpsPosition() {
    var latitude = document.getElementById("latitude").value;;
    var longitude = document.getElementById("longitude").value;
    var now = Date.now();
    $.post("/track/addGpsPosition/<%= dog_id %>", {timestamp : now, lat: latitude, lng: longitude}, function(data, status){
        if (status == "success") {
            //myMap();
        }
    });
  }
  </script>

    <script>
    function viewTrip() {
      $.get("/track/loadTrip/<%= dog_id %>", function(data, status){
          //alert("Data: " + data + "\nStatus: " + status);
      });
    }
    </script>

  	<script>
		function myMap() {
			var image = '/img/dogMarker2.png';
      var noMap = '/img/noMap.jpg';
      var latitude = document.getElementById("latitude").value;
      var longitude = document.getElementById("longitude").value;
      var map;

      if (latitude & longitude) {
			  var myLatLng = new google.maps.LatLng(latitude, longitude);
			  var mapCanvas = document.getElementById("map");
			  var mapOptions = {
				center: myLatLng, zoom: 15
			  };

	       map = new google.maps.Map(mapCanvas, mapOptions);

  			 var marker = new google.maps.Marker({
    				position: myLatLng,
    				map: map,
    				title: 'The Dog Name!',
    				icon: image
  		   });
      } else {
        document.getElementById('map').innerHTML = '<img src="/img/noMap.jpg" style="width:100%;height:500px"/>';
      }
		}
		</script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiJeySB5_JKsubA2Hk8QQgZlfp85kvAhg&callback=myMap" async defer></script>

</body>
</html>
