<!doctype html>
<html>
<head>
    <title>DogUS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->

</head>

<body onload="init()">
  <div>
    <% include navbar.ejs %>
    <% include sidebar.ejs %>

    <script>
      $( "a[dogid='<%= dog_id %>']" ).trigger( "click" );
    </script>

    <br/>

    <h1>Track your animal with GPS</h1>


    <!-- Map and Side Panel -->
    <div class="row content" style="margin-left: 0px; margin-right: 0px;">

        <!-- Google Map -->
        <div class="col-md-7" style="margin-left: 255px; position: inherit;">
			<div class="panel panel-default">
					<!-- Panel Title -->
					<div class="panel-heading">
						<h2 class="panel-title text-center">Track your animal!</h2>
					</div>
					<!-- Panel Body -->
					<div class="panel-body">
						<div id="map" style="width:100%;height:500px"></div>
					</div>
				</div>
        </div>

        <!-- Side Panel -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Positions <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->

                        <!-- Text Boxes and Other User Inputs-->
                        <div class="form-group">
                            <label for="latitude">Latitude</label>
                            <input type="text" class="form-control" id="latitude" value=<%= lastPosition.latitude %> ng-model="formData.latitude">
                        </div>
                        <div class="form-group">
                            <label for="longitude">Longitude</label>
                            <input type="text" class="form-control" id="longitude" value=<%= lastPosition.longitude %> ng-model="formData.longitude">
                        </div>
                        <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                        <button class="btn btn-danger btn-block" onclick="addGpsPosition()">Add gps position to DB</button>
                        <button class="btn btn-danger btn-block" onclick="viewTrip()">View Trip!</button>
                        <button class="btn btn-danger btn-block" onclick="refreshMarker()">Refresh</button>
                        <button class="btn btn-danger btn-block" onclick="drawOnMap()">Edit zone</button>
                </div>
            </div>
        </div>
    </div>
  </div>



  <script>

  var map;
  var marker;
  var dogImage = '/img/dogMarker2.png';
  var noMap = '/img/noMap.jpg';
  var editMode;
  var drawingManager;
  var circle;
  var latitude;
  var longitude;
  var initShape;

  function init() {
    editMode = false;
    latitude = document.getElementById("latitude").value;
    longitude = document.getElementById("longitude").value;
    initMap();
    //setInterval(refreshMarker, 5000);
  }

  function drawOnMap() {
    editMode = !editMode;
    drawingManager.setOptions({
      drawingControl: editMode
    });
  }

  function deleteShape(){
    initShape.setMap(null);
  }

  function refreshMarker() {
    $.get("/track/lastPosition/<%= dog_id %>", function(data, status){
        if (status == "success") {
          if (latitude != data.latitude || longitude != data.longitude) {
            document.getElementById("latitude").value = data.latitude;
            document.getElementById("longitude").value = data.longitude;
            if (latitude == "null" || _.isNull(longitude)){
              latitude = document.getElementById("latitude").value;
              longitude = document.getElementById("longitude").value;
              initMap();
            }
            latitude = document.getElementById("latitude").value;
            longitude = document.getElementById("longitude").value;
            var myLatLng = new google.maps.LatLng(data.latitude, data.longitude);

            marker.setMap(null);
            marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              icon: dogImage
            });

            marker.setMap(map);
          }
        }
    });
  }

  function addGpsPosition() {
    var newLatitude = document.getElementById("latitude").value;;
    var newLongitude = document.getElementById("longitude").value;
    var now = Date.now();
    $.post("/track/addGpsPosition/<%= dog_id %>", {timestamp : now, lat: newLatitude, lng: newLongitude}, function(data, status){
    });
  }

    function viewTrip() {
      $.get("/track/loadTrip/<%= dog_id %>", function(data, status){
          //alert("Data: " + data + "\nStatus: " + status);
      });
    }

    function initMap() {
      if (latitude & longitude) {
        var myLatLng = new google.maps.LatLng(latitude, longitude);
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
        center: myLatLng, zoom: 15
        };

         map = new google.maps.Map(mapCanvas, mapOptions);

         marker = new google.maps.Marker({
            position: myLatLng,
            title: 'The Dog Name!',
            icon: dogImage
         });
         marker.setMap(map);

         drawingManager = new google.maps.drawing.DrawingManager({
         drawingControl: editMode,
         drawingControlOptions: {
           position: google.maps.ControlPosition.TOP_CENTER,
           drawingModes: [
             google.maps.drawing.OverlayType.CIRCLE
           ]
         },
         circleOptions: {
           editable: true
         }
       });
       drawingManager.setMap(map);
       google.maps.event.addListener(drawingManager, 'circlecomplete', onShapeComplete);

      } else {
        document.getElementById('map').innerHTML = '<img src="/img/noMap.jpg" style="width:100%;height:500px"/>';
      }

    }

    function onShapeComplete(shape) {
      //alert(shape);
      if(initShape){
        deleteShape();
      }
      initShape = shape;
      $.post("/track/changeGpsZone/<%= dog_id %>", {center : JSON.stringify(shape.center), radius : shape.radius},function(data, status){
        });
    }

		</script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiJeySB5_JKsubA2Hk8QQgZlfp85kvAhg&libraries=drawing"></script>


</body>
</html>
